.container-about {
    margin-top: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(3,3,3,1) 0%, rgb(39, 38, 41) 100%);
    padding: 10px;
    box-shadow: 0px 0px 16px 7px rgba(255,255,255,0.75);
    -webkit-box-shadow: 0px 0px 16px 7px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 0px 16px 7px rgba(255,255,255,0.75);
    background-color: #000;
    border-radius: 15px;
}

.container-about .about-tittle {

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3rem;
}

.container-about p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 21px;
    padding: 0% 5% 5% 5%;
}



@media (min-width:350px) AND (max-width:600px) {
    .container-about {
        margin-top: 0px;
    }

    .container-about .about-tittle {

        font-size: 2rem;
    }
}
