.container-about {
    margin-top: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container-about .box-about-us {

  background: linear-gradient(0deg, rgba(3,3,3,1) 0%, rgb(39, 38, 41) 100%);
  padding: 10px;
  box-shadow: 0px 0px 16px 7px rgba(255,255,255,0.75);
  -webkit-box-shadow: 0px 0px 16px 7px rgba(255,255,255,0.75);
  -moz-box-shadow: 0px 0px 16px 7px rgba(255,255,255,0.75);
  border-radius: 15px;
  max-width: 1200px;

}

.container-about .box-about-us .desc-center {
  text-align: center;
  min-width: 300px;
}

.container-about .box-about-us .desc-center img {
  width: 30px;
  height: 30px;
  transform: translateY(6px);
}

.container-about .about-tittle {

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3rem;
}

.container-about .box-about-us p {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: justify;
    font-size: 21px;
    padding: 2% 5% 2% 5%;
}

.container-about .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(0deg, rgba(3,3,3,1) 0%, rgb(39, 38, 41) 100%);
    padding: 10px;
    padding-bottom: 45px;
    width: 100%;
    box-shadow: 0px 0px 16px 7px rgba(255,255,255,0.75);
    -webkit-box-shadow: 0px 0px 16px 7px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 0px 16px 7px rgba(255,255,255,0.75);
    border-radius: 15px;
  }
  
.container-about .container .box {
    position: relative;
    width: 350px;
    height: 350px;
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 100px;
    margin-bottom: 25px;
}
  
.container-about .container .box:hover .imgBox {
    transform: translate(-3.5rem, -3.5rem);
}
  
.container-about .container .box:hover .content {
    transform: translate(3.5rem, 3.5rem);
}
  
.container-about .container .box  .imgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}

.container-about .container .box  .imgBox .box-spinner-video-1,
.container-about .container .box  .imgBox .box-spinner-video-2,
.container-about .container .box  .imgBox .box-spinner-video-3,
.container-about .container .box  .imgBox .box-spinner-video-4,
.container-about .container .box  .imgBox .box-spinner-video-5,
.container-about .container .box  .imgBox .box-spinner-video-6 {
  position: absolute;
  z-index: 98;
}

.container-about .container .box .imgBox .btn-play-video,
.container-about .container .box .content .btn-stop-video {
  margin: auto;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  
}

.container-about .container .box .imgBox .btn-play-video {
  z-index: 99;
  background-image: url("../img/play.png");
  object-fit: cover;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  opacity: .6;
  animation: aparecer .5s ease-in;
  
}

.container-about .container .box .imgBox .btn-play-video:hover {

  opacity: 1;
  box-shadow: 0px 0px 8px 3px rgba(255,255,255,0.75);
  -webkit-box-shadow: 0px 0px 8px 3px rgba(255,255,255,0.75);
  -moz-box-shadow: 0px 0px 8px 3px rgba(255,255,255,0.75);
  transition: all .4s ease-in;
}

.container-about .container .box .content .btn-stop-video {

  z-index: 99;
  background-image: url("../img/stop.png");
  object-fit: cover;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  opacity: .4;
  transform: translate(136px,-24px);
  
}

.btn-visible {
  display: inherit;
  animation: aparecer .5s ease-in;

}

.btn-invisible {
  display: none;
}

.container-about .container .box .imgBox .btn-play-video:hover,
.container-about .container .box .content .btn-stop-video:hover {

  opacity: 1;
  box-shadow: 0px 0px 8px 3px rgba(255,255,255,0.75);
  -webkit-box-shadow: 0px 0px 8px 3px rgba(255,255,255,0.75);
  -moz-box-shadow: 0px 0px 8px 3px rgba(255,255,255,0.75);
  transition: all .4s ease-in;
}


  
.container-about .container .box  .imgBox video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    resize: both;
    border-radius: 10%;

 
}

.container-about .container .box  .imgBox video:hover {
  box-shadow: 0px 0px 16px 7px rgba(255,255,255,0.75);
  -webkit-box-shadow: 0px 0px 16px 7px rgba(255,255,255,0.75);
  -moz-box-shadow: 0px 0px 16px 7px rgba(255,255,255,0.75);
  transition: all .4s ease-in;
}
  
  .container-about .container .box  .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    background-color: #000;
    z-index: 1;
    align-items: flex-end;
    text-align: center;
    transition: 0.5s ease-in-out;
    border-radius: 10%;


  }

  .container-about .container .box  .content:hover {
    box-shadow: 0px 0px 16px 7px rgba(255,255,255,0.75);
    -webkit-box-shadow: 0px 0px 16px 7px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 0px 16px 7px rgba(255,255,255,0.75);
    transition: all .4s ease-in;
  }
  
  .container-about .container .box  .content h2 {
    display: block;
    font-size: 1.8rem;
    color: #b769fc;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 1px;
    transform: translate(0px,23px);
  }
  
  .container-about .container .box  .content span {
    color: #989cad;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 2px;

  }
  
  @media (max-width: 600px) {
    .container-about .container .box:hover .content {
      transform: translate(0, 3.5rem);
    }
    .container-about .container .box:hover .imgBox {
      transform: translate(0, -3.5rem);
    }
  }

  @media (min-width:350px) AND (max-width:430px) {
    .container-about .container .box {
      position: relative;
      width: 350px;
      height: 350px;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 100px;
      margin-bottom: 25px;
  }
  }


@media (min-width:350px) AND (max-width:600px) {
    .container-about {
        margin-top: 0px;
    }

    .container-about .about-tittle {

        font-size: 2rem;
    }

    .container-about .container .box {
      width: 270px;
      height: 270px;
    }

    .container-about .container .box .imgBox .btn-play-video {
      width: 45px;
      height: 45px;
    }
    .container-about .container .box .content .btn-stop-video {
      width: 40px;
      height: 40px;
      transform: translate(108px,-28px);
    }

    .container-about .container .box  .content h2 {

      font-size: 1.3rem;

    }
    
    .container-about .container .box  .content span {

      font-size: 1.1rem;

    }
}


@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}